<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Con FormsModule importado, Angular creará automáticamente un
        JSON con la info de cualquier <form> que detecte -->
      <!-- Para recoger lo enviado por el usuario, utilizamos la directiva
        ngSubmit, que permite activar onSubmit() cuando el usuario pulsa en
        el submit button. Utilizamos también la referencia local #f para
        recoger toda la info del form con ngForm, pasándola en la función
        o usando @ViewChild en el component.ts -->
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <!-- Con ngModelGroup creamos un grupo de controles que podrán ser
          validados independientemente. Le ponemos un nombre al grupo "userData"
          y usamos una referencia local que después podemos usar para hacer
          las comprobaciones que queramos -->
        <div 
          id="user-data" 
          ngModelGroup="userData"
          #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <!-- Para registrar los controles del form en dicho JSON, debemos
            utilizar ngModel (del FormsModule también) y darle un name, que
            constituirá la key en el JSON -->
            <input 
              type="text" 
              id="username" 
              class="form-control"
              ngModel
              name="username"
              required>
          </div>
          <button 
            class="btn btn-default" 
            type="button"
            (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <!-- Utilizamos ngModel para acceder a la info del control (input) 
              Lo almacenamos en una referencia local (#email)
              Comprobamos que el valor sea inválido y esté tocado
              Y si se cumple la condición, mostramos el mensaje de info -->
            <label for="email">Mail</label>
            <input 
              type="email" 
              id="email" 
              class="form-control"
              ngModel
              name="email"
              required
              email
              #email="ngModel">
              <i 
                class="help-block" 
                *ngIf="!email.valid && email.touched">
                Please enter a valid email!
              </i>
          </div>
          <i 
            class="help-block" 
            *ngIf="!userData.valid && userData.touched">
            User Data is invalid!
          </i>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <!-- Aquí utilizamos property binding en ngModel para darle un valor
            por defecto al select -->
          <select 
            id="secret" 
            class="form-control"
            [ngModel]="defaultQuestion"
            name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea 
            name="questionAnswer" 
            rows="3"
            class="form-control"
            [(ngModel)]="answer"></textarea>
        </div>
        <p>Your reply: {{ answer }}</p>
        <!-- Recorremos un array de genders: string[], creando un
          radiobutton por cada uno. Incorporamos ngModel para señalarlos
          como un control más. Asignamos a cada uno la string gender como
          value (vía property binding) y mostramos dicha string como label
          (vía string interpolation) -->
        <div 
          class="radio"
          *ngFor="let gender of genders">
            <label>
              <input 
                type="radio"
                name="gender"
                ngModel
                [value]="gender"
                required>
              {{ gender }}
            </label>
        </div>
        <!-- El atributo disabled deshabilita un elemento de HTML
          Aquí usamos property binding para hacer uso del atributo
          en caso de que el formulario no sea válido -->
        <button 
          class="btn btn-primary" 
          type="submit"
          [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
  <div 
    class="row"
    *ngIf="submitted">
    <hr>
    <h3>Your Data</h3>
    <p>Username: {{ user.username }} </p>
    <p>Mail: {{ user.email }}</p>
    <p>Secret Question: {{ user.secretQuestion }}</p>
    <p>Answer: {{ user.answer }}</p>
    <p>Gender: {{ user.gender }}</p>
  </div>
</div>
